@import '../../node_modules/@fontsource/roboto/';

body {
    font-family: "Roboto";
}

ul {
    list-style-type: none;
    margin: 0;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
  }